<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application android:allowBackup="true"
        tools:replace="android:label"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/HomeWhite">

        <activity
            android:name="com.cray.software.passwords.SplashScreen"
            android:label="@string/app_name" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
