<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cray.software.passwords"
    android:installLocation="internalOnly">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application android:allowBackup="true"
        android:label="@string/app_name_free"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/HomeWhite">

        <activity android:name=".AddItem" android:theme="@style/HomeWhite"
            android:configChanges="keyboardHidden|orientation|keyboard" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainScreen" android:theme="@style/HomeWhite"
            android:configChanges="keyboardHidden|orientation|keyboard" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewListItem" android:theme="@style/HomeWhite"
            android:configChanges="keyboardHidden|orientation|keyboard">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" android:theme="@style/HomeWhite"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ApplicationHelp" android:theme="@style/HomeWhite"
            android:configChanges="keyboardHidden|orientation|keyboard">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.PassLengthDialog"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.DateFormatDialog"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.PassChangeDialog"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.RestoreInsertMail"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.ChangeKeyword"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.RestoreRecivePassword"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.ThemeColorDialog"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.GeneratePassword"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.AboutDialog"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.RateDialog"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.CloudDrives"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/HomeWhite.Dialog" android:name=".dialogs.ProMarket"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".dialogs.ThanksDialog" android:theme="@style/HomeWhite"
            android:configChanges="keyboardHidden|orientation|keyboard" android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Transparent" android:name=".dialogs.HelpOverflow"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-vuddd9g2725cmj0" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
